@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  list-style: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  overflow-x: hidden;
}

a {
  text-decoration: solid;
}

ul {
  list-style: none;
}
ul li {
  float: left;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

input[type=checkbox] {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 0 160px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 -1px 16px #a3a3a3;
}
.header__menu-mobile {
  display: none;
}
.header__menu-mobile button {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.header__menu-mobile button .line-menu {
  width: 30px;
  height: 2px;
  background-color: #ff5672;
  margin: 2px;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 730px) {
  .header__menu-mobile {
    display: block;
    position: absolute;
    right: 60px;
    margin-top: 6px;
  }
}
@media only screen and (max-width: 1280px) {
  .header {
    flex-direction: column;
    padding: 10px 5%;
  }
}
@media only screen and (max-width: 730px) {
  .header {
    padding: 0 60px;
    justify-content: center;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.header__logo .header__logoText--title {
  letter-spacing: 5px;
  font-size: 19px;
  font-weight: 700;
  color: #707070;
}
@media only screen and (max-width: 730px) {
  .header__logo .header__logoText--title {
    font-size: 15px;
  }
}
.header__logo .header__logoText--subtitle {
  letter-spacing: 2px;
  font-size: 8px;
  font-weight: 300;
  color: #c3d0d8;
}
@media only screen and (max-width: 730px) {
  .header__logo .header__logoText--subtitle {
    font-size: 6px;
  }
}
@media only screen and (max-width: 730px) {
  .header__menu .header__inputSearch {
    height: 20px;
    width: 150px;
  }
}
.header__navGroup {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 730px) {
  .header__navGroup {
    position: absolute;
    top: 100px;
    height: 100vh;
    width: 90%;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  .header__navGroup.open {
    right: 0;
  }
  .header__navGroup.close {
    right: -100%;
  }
}
@media only screen and (max-width: 730px) {
  .header__navGroup nav .main_menuGroup .main_menuItem {
    float: inherit;
    height: 42px;
    display: flex;
    align-items: center;
  }
}
.header__navGroup nav .main_menuGroup .main_menuItem button {
  background-color: #ffffff;
  color: #707070;
  padding: 11px 28px;
  transition: all 0.3s ease-in-out;
}
.header__navGroup nav .main_menuGroup .main_menuItem button:hover {
  background-color: #ff5672;
  color: #ffffff;
}
@media only screen and (max-width: 730px) {
  .header__navGroup nav .main_menuGroup .main_menuItem button {
    width: 100%;
  }
}
@media only screen and (max-width: 1280px) {
  .header__navGroup nav .main_menuGroup .main_menuItem button {
    padding: 11px 15px;
  }
}
.header__navGroup nav .main_menuGroup .main_menuItem--selected button {
  background-color: #ff5672;
  color: #ffffff;
}
.header__navGroup .search {
  display: flex;
  align-items: center;
}
.header__navGroup .search .search__input {
  height: 42px;
  border-radius: 20px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
.header__navGroup .search .search__input.show {
  border: 1px solid #707070;
  padding: 13px;
  width: 100%;
}
.header__navGroup .search .search__input.hide {
  width: 0;
  border: none;
  padding: 0;
}

.content {
  overflow: auto;
}
.content__homeBannerMain {
  background-color: #ff5672;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 898px;
}
.content__homeBannerMain--title {
  color: #ffffff;
  letter-spacing: 15px;
  font-size: 39px;
  font-weight: 700;
  margin-bottom: 47px;
  text-align: center;
}
.content__homeBannerMain--subtitle {
  color: #ffffff;
  font-family: "Questrial", sans-serif;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
  max-width: 604px;
  line-height: 1.4rem;
}
.content__homeBannerMain--button {
  width: 170px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: "Questrial", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  color: #ff5672;
}
.content__homeGalleryImages {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.content__homeGalleryImages .layouts {
  margin: 73px 0;
}
.content__homeGalleryImages .layouts__item {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.content__homeGalleryImages .layouts__item--selected {
  border: 1px solid #ff5672;
}
.content__homeGalleryImages .layouts__item:hover {
  border: 1px solid #ff5672;
}
.content__homeGalleryImages .container-menu {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.content__homeGalleryImages .container-menu .slider-nav {
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 730px) {
  .content__homeGalleryImages .container-menu .slider-nav {
    display: block;
  }
}
.content__homeGalleryImages .container-menu #prevButton,
.content__homeGalleryImages .container-menu #nextButton {
  display: none;
}
@media only screen and (max-width: 730px) {
  .content__homeGalleryImages .container-menu #prevButton,
  .content__homeGalleryImages .container-menu #nextButton {
    display: block;
  }
}
@media only screen and (max-width: 1280px) {
  .content__homeGalleryImages .container-menu #prevButton,
  .content__homeGalleryImages .container-menu #nextButton {
    display: block;
  }
}
@media only screen and (max-width: 730px) {
  .content__homeGalleryImages .slider-container {
    display: flex;
    transition: none;
  }
}
@media only screen and (max-width: 730px) {
  .content__homeGalleryImages nav {
    width: 80%;
    align-self: flex-end;
  }
}
.content__homeGalleryImages nav .main_menuGroup {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.content__homeGalleryImages nav .main_menuGroup .main_menuItem {
  margin: 0;
  padding: 0 15px;
  white-space: nowrap;
}
.content__homeGalleryImages nav .main_menuGroup .main_menuItem button {
  background-color: #ffffff;
  color: #707070;
  padding: 11px 28px;
  transition: all 0.3s ease-in-out;
  background: none;
  cursor: pointer;
}
.content__homeGalleryImages nav .main_menuGroup .main_menuItem button:hover {
  background-color: #ff5672;
  color: #ffffff;
}
.content__homeGalleryImages nav .main_menuGroup .main_menuItem--selected button {
  background-color: #ff5672;
  color: #ffffff;
}
.content__button-show-more {
  display: flex;
  justify-content: center;
  margin: 39px 0 44px 0;
}
.content__button-show-more .content__button-more {
  height: 33px;
  width: 170px;
  background-color: #ff5672;
  color: #ffffff;
  font-family: "Questrial", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
}

.container {
  max-width: 72%;
  margin: auto;
}

.massonry {
  columns: 3;
  grid-gap: 30px;
  margin-top: 75px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .massonry {
    columns: 2;
    margin-top: 20px;
    grid-gap: 20px;
  }
}
.massonry__item {
  background-color: #f6f6f6;
  break-inside: avoid;
  padding: 10px;
  margin-bottom: 32px;
  position: relative;
}
.massonry__item__image {
  width: 100%;
}
.massonry__item__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  background: #ff5672;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.massonry__item__description:hover {
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.massonry__item__description .name-logo {
  border-bottom: 1px solid white;
  width: 58%;
  color: white;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 26px;
  font-family: "Questrial", sans-serif;
}
.massonry__item__description .description {
  width: 58%;
  color: white;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
}

.view-list {
  margin-top: 75px;
  padding: 0 0;
}
.view-list .massonry__item {
  background-color: #f6f6f6;
  padding: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}
.view-list .massonry__item .massonry__item__image {
  width: 60%;
}
.view-list .massonry__item .massonry__item__description {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ff5672;
  width: 30%;
  opacity: inherit;
  position: inherit;
  cursor: pointer;
}
.view-list .massonry__item .massonry__item__description .name-logo {
  border-bottom: 1px solid white;
  width: 58%;
  color: white;
  letter-spacing: 5px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 26px;
  font-family: "Questrial", sans-serif;
}
.view-list .massonry__item .massonry__item__description .description {
  width: 58%;
  color: white;
  font-size: 20px;
  font-family: "Questrial", sans-serif;
}

.footer {
  margin-bottom: 74px;
}
.footer__paragraph {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-family: "Questrial", sans-serif;
  color: #c3d0d8;
  letter-spacing: 2px;
  margin-bottom: 47px;
}
.footer__paragraph b {
  color: #ff5672;
}
.footer__social-media {
  display: flex;
  justify-content: space-between;
  max-width: 152px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
