@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');//Colores

$color-pink-ff: #ff5672;
$color-white-ff: #ffffff;
$color-gray-f6: #f6f6f6;
$color-gray-a3: #a3a3a3;

//Familia
$questrial: 'Questrial', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//breakpoints
$mobile: 600px;
$table: 1240px;